#asset-nav {
	overflow-y: auto;
	overflow-x: hidden;
}


.asset-div {
	text-align: center;
}

.asset-h4 {
	font-weight: bold;
	font-size: 1.5em;
}
.button-group {
	text-align: center;
}

#saveStaffBtn {
	width: 200px;
}