

/*

    左部导航样式

 */

#left-navbar {
	margin-top: -70px;
    padding: 70px 0 0 0;
    height: 100%;
    float: left;
    position:absolute;
    background: -webkit-linear-gradient(top, #71757e 0%, #242934 100%);
}

#left-navbar a.list-group-item{
    background: transparent;
    color: #eee;
    padding: 20px 15px;
    border: none;
}

#left-navbar a.list-group-item:hover,
#left-navbar a.list-group-item:active,
#left-navbar a.list-group-item:focus{
    background: rgba(27, 27, 47, 0.56);
}

#left-navbar .center-block {
    margin: auto;
}

.person-intro {
    margin-right: 0;
    height: 80px;
    padding: 15px 0 0 23% !important;
}

.person-intro:hover,
.person-intro:active,
.person-intro:focus{
    background: transparent !important;
}

.person-name {
    display: block;
}
.person-role {
    margin-top: 10px;
    display: block;
}

.person-setting {
    margin: 14px 0 0 -10px;
    font-size: .85em;

}

.icon {
    position: relative;
    top : 3px;
    float: left;
    font-size: 1.2em;
    margin-left: 10px;
}

.icon-text {
    margin-left: -35px;
}