/*
    顶部导航样式
 */
#top-navbar-body {
    padding-top: 70px;
    height: 100%;
}

#top-navbar {
    padding-top: 10px;
}

#top-navbar>.container-fluid .navbar-brand {
    margin: 0 20px;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 10px;
    }
}

#top-navbar .navbar-nav li {
    color: #c0c0c0;
}

#top-navbar .navbar-nav li.active{
    background: #ddd;
}

.notifying {
    font-size: 2em;
}

.navbar-right li:hover,
.navbar-right li:focus,
.navbar-right li:active{
    background: none;
}

.notifying-num {
    display: inline-block;
    background: rgba(255, 0, 0, 0.62);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
    top: -20px;
    left: -15px;
}

#notificationModal .page-header {
	margin-top: 0px;
}

#notificationModal .page-header h3 {
	margin: 0px;
}

#announcement .page-body {
	height: 50px;
}

#announcement .anno-time {
	float:right;
	position: relative;
	top: 8px;
}

#notification .page-body .list-group  {
	margin: 0px;
}

#notification .page-body .list-group .list-group-item{
	border:none;
	padding: 0px 5px;
	margin: 0px;
}

#notification .page-body .list-group .list-group-item.hasSee{
	font-weight: bold;
	font-style: italic;
}

#notification .page-body .list-group .list-group-item .noti-title{
	max-width: 70%;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 20px;
	letter-spacing: .2em;
}

#notification .page-body .list-group .list-group-item .btn  {
	padding: 0px 5px;
	float: right;
	font-style: normal;
}

#notification .noti-new {
	position: relative;
	top: -8px;
	font-size: .5em;
	color : red;
	font-style: italic;
}

#notification .page-footer nav {
	float: right;
}

#notification .page-footer nav .pager {
	margin:0px;
}

#notification .page-footer {
	display: none;
}
#top-page-previous {
	display: none;
}
#notification-content .glyphicon-chevron-left {
	cursor: pointer;
}

#deleteNoti {
	float: right;
	padding: 0px 5px;
	position: relative;
	top: -20px;
	
}

.disabled {
	pointer-events:none; 
	filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
}